# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.rb linguist-language=Java

# Replace any whitespace in the language name with hyphens:
*.glyphs linguist-language=OpenStep-Property-List

special-vendored-path/* linguist-vendored
jquery.js -linguist-vendored

project-docs/* linguist-documentation
docs/formatter.rb -linguist-documentation

Api.elm linguist-generated

*.kicad_pcb linguist-detectable
*.sch linguist-detectable
tools/export_bom.py -linguist-detectable

vim: syntax=java
